.home {
  flex: 1;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  background: url("@/assets/img/bg.svg") no-repeat;
  background-size: 584px auto;
  position: relative;
  .home_main {
    padding: 0 16px;
    flex: 1;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    position: relative;
  }
}
