.Success {
  height: 100vh;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0px;
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  img{
    width: 327px;
  }
  div{
    padding-top: 30px;
  }
}
