.logo{
  padding: 80px 0 0 0;
  font-size: var(--text-Semibold);
    text-align: center;
  img{
    width: 60px;
  }
  .title{
    padding-top: 20px;
    line-height: 32px;
    font-weight: 600;
    font-weight: var(--font-bold);
    font-family: Poppins;
    color: var(--color-2);
  }
}