  .Authenticating {
    width: 100%;
    flex: 1;
    text-align: center;
    display: flex;
    .Authenticating_main {
      margin: auto;
      .AuthenticatingTitle {
        font-size: 22px;
        font-weight: 800;
        margin-top: 16px;
        color: #79a5e2;
      }
      .AuthenticatingTips {
        font-size: 16px;
        font-weight: 600;
        margin-top: 16px;
      }
    }
    // display: flex;
  }