.Error {
  height: 100vh;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0px;
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  img {
    width: 327px;
  }
  div {
    padding: 30px 0;
  }
  button {
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    width: 80%;
    max-width: 456px;
    height: 50px;
    border-radius: 8px;
    opacity: 1;
    border-width: 1px;
    background: #F4F4F4;
    border:1px solid #D7D8DA;
    color: #373F44;
    
  }
}
