<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.games.payment.mapper.KycInfoMapper">

    <resultMap type="com.games.payment.domain.KycInfo" id="BaseResultMap">
                    <result property="id"    column="id"    />
                    <result property="userId"    column="user_id"    />
                    <result property="firstName"    column="first_name"    />
                    <result property="middleName"    column="middle_name"    />
                    <result property="lastName"    column="last_name"    />
                    <result property="birthday"    column="birthday"    />
                    <result property="nationality"    column="nationality"    />
                    <result property="documentType"    column="document_type"    />
                    <result property="documentNo"    column="document_no"    />
                    <result property="documentFrontUrl"    column="document_front_url"    />
                    <result property="documentBackUrl"    column="document_back_url"    />
                    <result property="documentHandyUrl"    column="document_handy_url"    />
                    <result property="kycPayload"    column="kyc_payload"    />
                    <result property="kycAmlPayload"    column="kyc_aml_payload"    />
                    <result property="createdAt"    column="created_at"    />
                    <result property="createdBy"    column="created_by"    />
                    <result property="deletedAt"    column="deleted_at"    />
                    <result property="deletedBy"    column="deleted_by"    />
                    <result property="deleted"    column="deleted"    />
                    <result property="remark"    column="remark"    />
                    <result property="ssoKyc"    column="sso_kyc"    />
            </resultMap>

    
    <sql id="Base_Column_List">
         mt.id, mt.user_id, mt.first_name, mt.middle_name, mt.last_name, mt.birthday, mt.nationality, mt.document_type, mt.document_no, mt.document_front_url, mt.document_back_url, mt.document_handy_url, mt.kyc_payload, mt.kyc_aml_payload, mt.created_at, mt.created_by, mt.deleted_at, mt.deleted_by, mt.deleted, mt.remark, mt.sso_kyc    </sql>

    <select id="selectAllList" parameterType="com.games.payment.domain.KycInfo" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from kyc_info mt
        <where>

                                                        <if test="id != null "> and mt.id = #{id}</if>
                                                                            <if test="userId != null "> and mt.user_id = #{userId}</if>
                                                                            <if test="firstName != null  and firstName != ''"> and mt.first_name like concat('%', #{firstName}, '%')</if>
                                                                            <if test="middleName != null  and middleName != ''"> and mt.middle_name like concat('%', #{middleName}, '%')</if>
                                                                            <if test="lastName != null  and lastName != ''"> and mt.last_name like concat('%', #{lastName}, '%')</if>
                                                                            <if test="birthday != null "> and mt.birthday = #{birthday}</if>
                                                                            <if test="nationality != null  and nationality != ''"> and mt.nationality = #{nationality}</if>
                                                                            <if test="documentType != null "> and mt.document_type = #{documentType}</if>
                                                                            <if test="documentNo != null  and documentNo != ''"> and mt.document_no = #{documentNo}</if>
                                                                            <if test="documentFrontUrl != null  and documentFrontUrl != ''"> and mt.document_front_url = #{documentFrontUrl}</if>
                                                                            <if test="documentBackUrl != null  and documentBackUrl != ''"> and mt.document_back_url = #{documentBackUrl}</if>
                                                                            <if test="documentHandyUrl != null  and documentHandyUrl != ''"> and mt.document_handy_url = #{documentHandyUrl}</if>
                                                                            <if test="kycPayload != null  and kycPayload != ''"> and mt.kyc_payload = #{kycPayload}</if>
                                                                            <if test="kycAmlPayload != null  and kycAmlPayload != ''"> and mt.kyc_aml_payload = #{kycAmlPayload}</if>
                                                                            <if test="createdAt != null "> and mt.created_at = #{createdAt}</if>
                                                                            <if test="createdBy != null "> and mt.created_by = #{createdBy}</if>
                                                                            <if test="deletedAt != null "> and mt.deleted_at = #{deletedAt}</if>
                                                                            <if test="deletedBy != null "> and mt.deleted_by = #{deletedBy}</if>
                                                                            <if test="deleted != null "> and mt.deleted = #{deleted}</if>
                                                                            <if test="remark != null  and remark != ''"> and mt.remark = #{remark}</if>
                                                                            <if test="ssoKyc != null "> and mt.sso_kyc = #{ssoKyc}</if>
                                        </where>
    </select>

    <insert id="insertKycInfo" parameterType="com.games.payment.domain.KycInfo" useGeneratedKeys="true" keyProperty="id">
        insert into kyc_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
                                                                            <if test="userId != null">user_id,</if>
                                                                <if test="firstName != null and firstName != ''">first_name,</if>
                                                                <if test="middleName != null">middle_name,</if>
                                                                <if test="lastName != null and lastName != ''">last_name,</if>
                                                                <if test="birthday != null">birthday,</if>
                                                                <if test="nationality != null">nationality,</if>
                                                                <if test="documentType != null">document_type,</if>
                                                                <if test="documentNo != null and documentNo != ''">document_no,</if>
                                                                <if test="documentFrontUrl != null">document_front_url,</if>
                                                                <if test="documentBackUrl != null">document_back_url,</if>
                                                                <if test="documentHandyUrl != null">document_handy_url,</if>
                                                                <if test="kycPayload != null">kyc_payload,</if>
                                                                <if test="kycAmlPayload != null">kyc_aml_payload,</if>
                                                                <if test="createdAt != null">created_at,</if>
                                                                <if test="createdBy != null">created_by,</if>
                                                                <if test="deletedAt != null">deleted_at,</if>
                                                                <if test="deletedBy != null">deleted_by,</if>
                                                                <if test="deleted != null">deleted,</if>
                                                                <if test="remark != null">remark,</if>
                                                                <if test="ssoKyc != null">sso_kyc,</if>
                                    </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                                                                            <if test="userId != null">#{userId},</if>
                                                                <if test="firstName != null and firstName != ''">#{firstName},</if>
                                                                <if test="middleName != null">#{middleName},</if>
                                                                <if test="lastName != null and lastName != ''">#{lastName},</if>
                                                                <if test="birthday != null">#{birthday},</if>
                                                                <if test="nationality != null">#{nationality},</if>
                                                                <if test="documentType != null">#{documentType},</if>
                                                                <if test="documentNo != null and documentNo != ''">#{documentNo},</if>
                                                                <if test="documentFrontUrl != null">#{documentFrontUrl},</if>
                                                                <if test="documentBackUrl != null">#{documentBackUrl},</if>
                                                                <if test="documentHandyUrl != null">#{documentHandyUrl},</if>
                                                                <if test="kycPayload != null">#{kycPayload},</if>
                                                                <if test="kycAmlPayload != null">#{kycAmlPayload},</if>
                                                                <if test="createdAt != null">#{createdAt},</if>
                                                                <if test="createdBy != null">#{createdBy},</if>
                                                                <if test="deletedAt != null">#{deletedAt},</if>
                                                                <if test="deletedBy != null">#{deletedBy},</if>
                                                                <if test="deleted != null">#{deleted},</if>
                                                                <if test="remark != null">#{remark},</if>
                                                                <if test="ssoKyc != null">#{ssoKyc},</if>
                                    </trim>
    </insert>

    <update id="updateKycInfo" parameterType="com.games.payment.domain.KycInfo">
        update kyc_info
        <trim prefix="SET" suffixOverrides=",">
                                                                            <if test="userId != null">user_id = #{userId},</if>
                                                                <if test="firstName != null and firstName != ''">first_name = #{firstName},</if>
                                                                <if test="middleName != null">middle_name = #{middleName},</if>
                                                                <if test="lastName != null and lastName != ''">last_name = #{lastName},</if>
                                                                <if test="birthday != null">birthday = #{birthday},</if>
                                                                <if test="nationality != null">nationality = #{nationality},</if>
                                                                <if test="documentType != null">document_type = #{documentType},</if>
                                                                <if test="documentNo != null and documentNo != ''">document_no = #{documentNo},</if>
                                                                <if test="documentFrontUrl != null">document_front_url = #{documentFrontUrl},</if>
                                                                <if test="documentBackUrl != null">document_back_url = #{documentBackUrl},</if>
                                                                <if test="documentHandyUrl != null">document_handy_url = #{documentHandyUrl},</if>
                                                                <if test="kycPayload != null">kyc_payload = #{kycPayload},</if>
                                                                <if test="kycAmlPayload != null">kyc_aml_payload = #{kycAmlPayload},</if>
                                                                <if test="createdAt != null">created_at = #{createdAt},</if>
                                                                <if test="createdBy != null">created_by = #{createdBy},</if>
                                                                <if test="deletedAt != null">deleted_at = #{deletedAt},</if>
                                                                <if test="deletedBy != null">deleted_by = #{deletedBy},</if>
                                                                <if test="deleted != null">deleted = #{deleted},</if>
                                                                <if test="remark != null">remark = #{remark},</if>
                                                                <if test="ssoKyc != null">sso_kyc = #{ssoKyc},</if>
                                    </trim>
        where id = #{id}
    </update>

    <delete id="deleteKycInfoById" parameterType="Long">
        delete from kyc_info where id = #{id}
    </delete>

    <delete id="deleteKycInfoByIds" parameterType="String">
        delete from kyc_info where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    </mapper>