<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.games.payment.mapper.SaasCorpOutCurrencyMapper">

    <resultMap type="com.games.payment.domain.SaasCorpOutCurrency" id="BaseResultMap">
                    <result property="id"    column="id"    />
                    <result property="saasUserCorporationId"    column="saas_user_corporation_id"    />
                    <result property="currencyId"    column="currency_id"    />
                    <result property="isBasicCurrency"    column="is_basic_currency"    />
                    <result property="currencyAccountCheckout"    column="currency_account_checkout"    />
                    <result property="createdAt"    column="created_at"    />
                    <result property="createdBy"    column="created_by"    />
                    <result property="deletedAt"    column="deleted_at"    />
                    <result property="deletedBy"    column="deleted_by"    />
                    <result property="deleted"    column="deleted"    />
                    <result property="remark"    column="remark"    />
            </resultMap>

    
    <sql id="Base_Column_List">
         mt.id, mt.saas_user_corporation_id, mt.currency_id, mt.is_basic_currency, mt.currency_account_checkout, mt.created_at, mt.created_by, mt.deleted_at, mt.deleted_by, mt.deleted, mt.remark    </sql>

    <select id="selectAllList" parameterType="com.games.payment.domain.SaasCorpOutCurrency" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from saas_corp_out_currency mt
        <where>

                                                        <if test="id != null "> and mt.id = #{id}</if>
                                                                            <if test="saasUserCorporationId != null "> and mt.saas_user_corporation_id = #{saasUserCorporationId}</if>
                                                                            <if test="currencyId != null "> and mt.currency_id = #{currencyId}</if>
                                                                            <if test="isBasicCurrency != null "> and mt.is_basic_currency = #{isBasicCurrency}</if>
                                                                            <if test="currencyAccountCheckout != null  and currencyAccountCheckout != ''"> and mt.currency_account_checkout = #{currencyAccountCheckout}</if>
                                                                            <if test="createdAt != null "> and mt.created_at = #{createdAt}</if>
                                                                            <if test="createdBy != null "> and mt.created_by = #{createdBy}</if>
                                                                            <if test="deletedAt != null "> and mt.deleted_at = #{deletedAt}</if>
                                                                            <if test="deletedBy != null "> and mt.deleted_by = #{deletedBy}</if>
                                                                            <if test="deleted != null "> and mt.deleted = #{deleted}</if>
                                                                            <if test="remark != null  and remark != ''"> and mt.remark = #{remark}</if>
                                        </where>
    </select>

    <insert id="insertSaasCorpOutCurrency" parameterType="com.games.payment.domain.SaasCorpOutCurrency" useGeneratedKeys="true" keyProperty="id">
        insert into saas_corp_out_currency
        <trim prefix="(" suffix=")" suffixOverrides=",">
                                                                            <if test="saasUserCorporationId != null">saas_user_corporation_id,</if>
                                                                <if test="currencyId != null">currency_id,</if>
                                                                <if test="isBasicCurrency != null">is_basic_currency,</if>
                                                                <if test="currencyAccountCheckout != null">currency_account_checkout,</if>
                                                                <if test="createdAt != null">created_at,</if>
                                                                <if test="createdBy != null">created_by,</if>
                                                                <if test="deletedAt != null">deleted_at,</if>
                                                                <if test="deletedBy != null">deleted_by,</if>
                                                                <if test="deleted != null">deleted,</if>
                                                                <if test="remark != null">remark,</if>
                                    </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                                                                            <if test="saasUserCorporationId != null">#{saasUserCorporationId},</if>
                                                                <if test="currencyId != null">#{currencyId},</if>
                                                                <if test="isBasicCurrency != null">#{isBasicCurrency},</if>
                                                                <if test="currencyAccountCheckout != null">#{currencyAccountCheckout},</if>
                                                                <if test="createdAt != null">#{createdAt},</if>
                                                                <if test="createdBy != null">#{createdBy},</if>
                                                                <if test="deletedAt != null">#{deletedAt},</if>
                                                                <if test="deletedBy != null">#{deletedBy},</if>
                                                                <if test="deleted != null">#{deleted},</if>
                                                                <if test="remark != null">#{remark},</if>
                                    </trim>
    </insert>

    <update id="updateSaasCorpOutCurrency" parameterType="com.games.payment.domain.SaasCorpOutCurrency">
        update saas_corp_out_currency
        <trim prefix="SET" suffixOverrides=",">
                                                                            <if test="saasUserCorporationId != null">saas_user_corporation_id = #{saasUserCorporationId},</if>
                                                                <if test="currencyId != null">currency_id = #{currencyId},</if>
                                                                <if test="isBasicCurrency != null">is_basic_currency = #{isBasicCurrency},</if>
                                                                <if test="currencyAccountCheckout != null">currency_account_checkout = #{currencyAccountCheckout},</if>
                                                                <if test="createdAt != null">created_at = #{createdAt},</if>
                                                                <if test="createdBy != null">created_by = #{createdBy},</if>
                                                                <if test="deletedAt != null">deleted_at = #{deletedAt},</if>
                                                                <if test="deletedBy != null">deleted_by = #{deletedBy},</if>
                                                                <if test="deleted != null">deleted = #{deleted},</if>
                                                                <if test="remark != null">remark = #{remark},</if>
                                    </trim>
        where id = #{id}
    </update>

    <delete id="deleteSaasCorpOutCurrencyById" parameterType="Long">
        delete from saas_corp_out_currency where id = #{id}
    </delete>

    <delete id="deleteSaasCorpOutCurrencyByIds" parameterType="String">
        delete from saas_corp_out_currency where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    </mapper>